<div class="navigation">
  <nav>
    <a href="/">ACJT Blogs</a>
  </nav>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create">new blog</a></li>
  </ul>
  
</div>

